<h2>Редактирование поста</h2>

<div class="wrap-edit-post">
    <br>
    <br>
    <div edit-form-value>
        <a href="#">{{ currentPost.name }}</a>
    </div>
    <div edit-form-value>
        <label>Заголовок</label><br>
        <input type="text" ng-model="currentPost.title">
    </div>
    <div edit-form-value>
        <label>Сообщение</label><br>
        <textarea name="" id="" cols="90" rows="20" ng-model="currentPost.message"></textarea>
    </div>
    <div edit-form-value>
        <label>Теги</label><br>
        <input type="text" ng-model="currentPost.tags">
    </div>

    <br><hr><br>
    <button ng-click="saveEditPost(currentPost)">Сохранить изменения</button>
    <button ng-click="gotoMain()">Отмена</button>
</div>