<div class="wrap-show-post">
    <h2>{{ currentPost.title }}</h2>

    <div class="post-title">
        <a href="#">{{ currentPost.name }}</a>  </div>
    </div>
    <div show-post-content>
        {{ currentPost.message }}</textarea>
    </div>

    <br><hr><br>

    <h2>Комментарии</h2>
    <div class="wrap-all-comments" ng-repeat="comment in allComments">
        <div class="comment-author">  {{ comment.author }} ({{ comment.email }}) </div>
        <div class="comment-message"> {{ comment.message }} </div>
        <div class="wrap-one-comment-buttons" ng-if="compareUsersComments(currentPost)">
            <button class="one-comment-buttons" ng-click="deleteComment(comment)">Удалить</button>
        </div>
        <br>
    </div>
    
    <br><hr><br>

    <div class="wrap-new-comment">
        <h2>Добавить комментарий</h2>
        
        <form name="commentForm" novalidate ng-submit="addComment(currentComment, commentForm.$valid)">
            <div class="well" ng-cloak>
                <div class="form-group one-comment-field">
                    <input type="text" name="newCommentName" placeholder="Введите имя" class="form-control" ng-model="currentComment.author" required />

                    <div class="error" ng-show="showError">
                        {{ getError(commentForm.newCommentName.$error) }}
                    </div>
                </div>
                <br>
                <div class="form-group one-comment-field">
                    <input type="text" name="newCommentEmail" placeholder="Введите почту" class="form-control" ng-model="currentComment.email" required />

                    <div class="error" ng-show="showError">
                        {{ getError(commentForm.newCommentEmail.$error) }}
                    </div>
                </div>
                <br>
                <div class="form-group one-comment-field">
                    <textarea name="newCommentMessage" cols="30" rows="10" ng-model="currentComment.message" required></textarea>

                    <div class="error" ng-show="showError">
                        {{ getError(commentForm.newCommentMessage.$error) }}
                    </div>
                </div>


            </div>
            <br>
            <div class="well">
                <span class="summary" ng-class="commentForm.$valid ? 'if-valid' : 'if-invalid' "> <!-- для этого спана прописан отдельный результирующий класс в стилях -->
                    Valid: {{ commentForm.$valid }}
                </span>
            </div>

            <br>

            <button type="submit">Добавить комментарий</button>
        </form>
<!-- 
        <form name="commentForm" novalidate ng-submit="addComment(currentComment)">
            <div class="one-comment-field">
                <input name="newCommentName" type="text" placeholder="Введите имя" ng-model="currentComment.author" />
            </div>
            <div class="one-comment-field">
                <input name="newCommentEmail" type="text" placeholder="Введите почту" ng-model="currentComment.email" />
            </div>
            <div class="one-comment-field">
                <textarea name="newCommentMessage" cols="30" rows="10" ng-model="currentComment.message"></textarea>
            </div>
            <button type="submit">Добавить комментарий</button>
        </form> -->
</div>

    <br><hr><br>
    <button ng-click="goToMain()">Вернуться на главную</button>
</div>